$golden-ratio: 1.61803398875;
$max-width: 1200px;
$header-height: 80vh;
$nav-bar-height: 7.5vh;
$nav-bar-button-height: 4.5vh;
$nav-button-width: 120px;

$header-color: #1c1c1c;
$default-bg-color: #d3d3d3;
$default-font-color: #d3d3d3;
$secondary-color: #ff7600;
$nav-bar-color: #3d3d3d;
$nav-bar-width: 1400px;

@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
$header-font: 'Montserrat', sans-serif;
$default-font: 'Open Sans', sans-serif;

.debug {
  outline: 1px solid hotpink;
  outline-offset: -1px;
}

//css reset
* {
  margin: 0;
  padding: 0;
}

.vertical-align {
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
}

html {
  height: 100%;
  width: 100%;
  font-size: 1em;
  color: $default-font-color;
  background-color: $default-bg-color;
  font-family: $default-font;
}

header {
  height: $header-height;
  text-align: center;
  font-size: 1.4em;
  background-color: $header-color;
  font-family: $header-font;
}

.subtitle {
  display: block;
  font-size: 0.8em;
}

.highlight {
  color: $secondary-color;
}

nav {
  background-color: $nav-bar-color;
}

.nav-bar {
  height: $nav-bar-height;
  max-width: $nav-bar-width;
  font-size: 1.4em;
}

.nav-bar-left {
  float: left;
}

.nav-bar-right {
  float: right;
}

.nav-bar-skinny li {
  width: $nav-bar-button-height + 2vh;
}

nav li {
  display: inline-block;
  list-style: none;
  text-align: center;

  width: $nav-button-width;
  height: $nav-bar-height;
  line-height: $nav-bar-height;
}

nav a {
  text-decoration: none;
  color: $default-font-color;
  outline: 0;
}

nav a:link {
}

nav a:hover {
  color: $secondary-color;
}

.nav-svg-btn {
  width: $nav-bar-button-height;
  height: $nav-bar-button-height;
  fill: $default-font-color;
  padding-top: 1.5vh;
}

.nav-svg-btn:hover {
  fill: $secondary-color;
}

.hidden-bad-egg {
  padding-top: 300px;
  text-align: center;
  color: $nav-bar-color;
  padding-bottom: 300px;
}