$site-max-width: 1200px;
$banner-width: 67vw;

.intro-banner {
  width: $banner-width;
  max-width: $site-max-width;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
}

@media screen and (max-width: 730px) {
  .intro-banner {
    max-width: 220px;
    text-align: left;
  }
}
