$nav-bar-max-width: 1200px;
$nav-bar-height: 8vh;
$nav-bar-width: 50vw;
$nav-bar-icon-height: 4.5vh;
$nav-icon-width: 120px;
$nav-bar-color: #3d3d3d;

$default-bg-color: #d3d3d3;
$default-font-color: #d3d3d3;
$secondary-color: #ff7600;

nav {
  background-color: $nav-bar-color;
}

.nav-bar {
  height: $nav-bar-height;
  width: $nav-bar-width;
  max-width: $nav-bar-max-width;
  margin-left: auto;
  margin-right: auto;
}

.nav-bar-left {
  float: left;
}

.nav-bar-right {
  float: right;
}

.nav-bar-skinny li {
  width: $nav-bar-icon-height + 2vh;
}

nav li {
  display: inline-block;
  list-style: none;
  text-align: center;

  width: $nav-icon-width;
  height: $nav-bar-height;
  line-height: $nav-bar-height;
}

nav a {
  text-decoration: none;
  color: $default-font-color;
  outline: 0;
}

nav a:hover {
  color: $secondary-color;
}

.nav-svg-icon {
  width: $nav-bar-icon-height;
  height: $nav-bar-icon-height;
  fill: $default-font-color;
  padding-top: 1.5vh;
}

.nav-svg-icon:hover {
  fill: $secondary-color;
}
