@import "mixins";
@import "fonts";
@import "colors";

// fonts

.subtitle {
  display: block;
  font-size: $subtitle-font-size;
}

html {
  font-size: $default-font-size;
  font-family: $default-font;
}

header {
  font-size: $header-font-size;
  font-family: $header-font;
}

// colours

.highlight {
  color: $secondary-color;
}

header {
  background-color: $header-color;
}

body {
  background-color: $default-bg-color;
  color: $default-font-color;
}

// links

a {
  text-decoration: none;
  color: $default-font-color;
  outline: 0;
}

a:hover {
  color: $secondary-color;
}