// fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
$default-font: 'Open Sans', sans-serif;
$header-font: 'Montserrat', sans-serif;

// size
$default-font-size: 1em;
$header-font-size: 1.2em;
$subtitle-font-size: 0.8em;
